@import './variables.scss';

.content {
    margin: 2vh 10vw 0;

    .loading, .error {
        color: $mainColor;
    }
    
    .data-item {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        margin: 20px 0px;
        box-shadow: 0px 0px 5px 1px lightgray;
        background-color: transparent;
        text-align: start;
        border: none;
        .data-icon {
            margin-right: 1vw;
        }
        .data-content {
            margin-bottom: 0;
            width: -webkit-fill-available;
            input, textarea {
                margin-bottom: 1vh;
            }
            :last-child {
                margin-bottom: 0;
            }
            .close-btn {
                float: right;
            }
            p {
                margin-bottom: 0.5rem;
            }
            p:last-of-type {
                margin-bottom: 0;
            }
            .date-form {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1vh;
                .date-form-item {
                    display: flex;
                    align-items: center;
                    label {
                        margin: 0 1vw 0 0;
                    }
                    input {
                        width: fit-content;
                    }

                }

            }
        }
        .data-btns {
            display: flex;
            justify-content: space-between;
            height: fit-content;
            min-width: 90px;
        }
    }

    .showAllBtn {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        button {
            padding: 15px;
            font-size: 16px;
            border: 1px solid black;
            width: 80vw;
        }
        button:disabled {
            display: none;
        }
    }

}